*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #ebebeb;
}
.calculator{
    margin: 0 auto;
    margin-top: 100px; 
}
form{
    background-color: gray;
    height: 460px;
    width: 330px;
    padding: 25px 11px;
    border: 2px solid #222222;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;

}
form input{
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-left: 22px;
    background-color: black;
    border: 3px solid #EBEBEB;
    color: white;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
}
.equal-sign{
    padding: 40px 15px;
    position: absolute;
    margin-left: 27px;
    background-color: #0dac0f;
    border: 3px solid #EBEBEB;
    color: white;
    font-size: 20px;
    font-weight: 800;
    border-radius: 7px;
    box-shadow: 2px 2px 2px #222;

}
.text-box{
    /* padding-left: 0; */
    background-color: #91B270;
    border-radius: 10px;
    position: relative;
    left: -8px;
    width: 278px;
    padding: 10px 20px;
}
.end-button{
    margin-left: 24px;

}
.shadow{
    box-shadow: inset 0 0 10px #000000;
    height: 70px;
}
.shadow-button{
    box-shadow: 2px 2px 2px #222;
}
.clear-button{
    background-color: red;
}
